@page
@model FPL.Pages.Players.IndexModel
@{
}

<br />
<h2> List of registered FPL players </h2>
<a class='btn btn-primary btn-sm' href='/Players/Create'> New Player </a>
<table class="table">
   <thead>
       <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Email </th>
            <th> Phone </th>
            <th> FPL_ID </th>
            <th> Semester </th>
            <th> Created at </th>
            <th> Action </th>
       </tr>
   </thead>
   <tbody>
       @foreach (var item in Model.listPlayers)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.fpl_id</td>
                <td>@item.semester</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Players/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Players/Delete?id=@item.id">Delete</a>
                </td>


             </tr>
        }
   </tbody>
</table>